* {
  margin: 0;
  padding: 0;
}

html {
  height: 1502px;
}

body {
  height: 1502px;
  background-color: hsl(0, 0%, 95%);
}
p span {
  display: block;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.goldBox {
  margin-top: 40px;
  background-color: hsl(31, 77%, 52%);
  height: 27%;
  width: 76%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 50px;
  padding-left: 40px;
}
.cyanBox {
  background-color: hsl(184, 100%, 22%);
  height: 27%;
  width: 76%;
  padding-top: 50px;
  padding-left: 40px;
}
.greenBox {
  background-color: hsl(179, 100%, 13%);
  height: 27%;
  width: 76%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 50px;
  padding-left: 40px;
}

.heading_Text {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  padding-top: 20px;
}

.p_Text {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.8rem;
  padding-top: 20px;
  padding-bottom: 40px;
  line-height: 1.5rem;
  width: 80%;
}

.button_Sedan {
  border: none;
  background-color: hsl(0, 0%, 95%);
  width: 160px;
  height: 40px;
  border-radius: 30px;
  color: hsl(31, 77%, 52%);
}
.button_Sedan:hover {
  background-color: hsl(31, 77%, 52%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}
.button_SUV {
  border: none;
  background-color: hsl(0, 0%, 95%);
  width: 160px;
  height: 40px;
  border-radius: 30px;
  color: hsl(184, 100%, 22%);
}
.button_SUV:hover {
  background-color: hsl(184, 100%, 22%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}
.button_Luxury {
  border: none;
  background-color: hsl(0, 0%, 95%);
  width: 160px;
  height: 40px;
  border-radius: 30px;
  color: hsl(179, 100%, 13%);
}
.button_Luxury:hover {
  background-color: hsl(179, 100%, 13%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

